@font-face {
	font-family: "Round-light"; /* Имя шрифта */
	src: url(../fonts/round/RoundPro-Light.otf); /* Путь к файлу со шрифтом */
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Round-Bold"; /* Имя шрифта */
	src: url(../fonts/round/RoundPro-Bold.otf); /* Путь к файлу со шрифтом */
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Round-Black"; /* Имя шрифта */
	src: url(../fonts/round/RoundPro-Black.otf); /* Путь к файлу со шрифтом */
	font-weight: 900;
	font-style: normal;
}