<div class="container container-white">
<div class="content">
	<div class="content">
		<div class="col col-mb-12 col-5">
			<link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
			<?php
				// Вывод строки навигации
				$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);
				$Structure_Controller_Breadcrumbs
					->xsl(
				Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
				)
				->show();
			?>
			<h1><?php Core_Page::instance()->showTitle()?></h1>
		</div> <!-- .col col-mb-12 col-8 -->
		<div class="col col-mb-12 col-4 offset-3">
			<div class="quick-info-wrapper">
				<div class="clearfix">
					<div class="fz16 text-red"><b>Отделение</b></div>
					<div class="clearfix">
						<div class="fleft">ул. Вокзальная дом 14а</div>
						<div class="fright">8(84567)5-81-56</div>
						<div class="fright">8(906)308-65-47</div>
					</div>
				</div>

			</div> <!-- .quick-info-wrapper clearfix -->
		</div> <!-- .col col-mb-12 col-4 -->
	</div>
</div> <!-- .content -->

	<div class="content" style="position: relative;">

		<div class="content">
		<?php
			Core_Page::instance()->execute();
		?>
		</div> <!-- .content -->
	</div>
</div>