<script>
    $(document).ready(function(){
        if($('.blur-overlay').length == 0) {
            $('.body-wrapper').prepend('<div class="blur-overlay"></div>');
        }
    });
</script>
<div class="container container-transparent">
    <div class="content">
        <div class="col col-mb-12 col-8">
            <link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
            <?php
				// Вывод строки навигации
				$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);
				$Structure_Controller_Breadcrumbs
					->xsl(
            Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
            )
            ->show();
            ?>
            <h1><?php Core_Page::instance()->showTitle()?></h1>

        </div> <!-- .col col-mb-12 col-8 -->
        <div class="col col-mb-12 col-4">
            <div class="quick-info-wrapper">
                <div class="clearfix">
                    <div class="fz16 text-red"><b>Отделение</b></div>
                    <div class="clearfix">
                        <div class="fleft">ул. Вокзальная дом 14а</div>
                        <div class="fright">8(84567)5-81-56</div>
                        <div class="fright">8(906)308-65-47</div>
                    </div>
                </div>

            </div>

        </div> <!-- .col col-mb-12 col-4 -->
    </div> <!-- .content -->
    <div class="content" style="position: relative;">
        <div class="testemotion-items">
            <div class="columns" style="position: relative; height: 1223px;">

                    <?php
			Core_Page::instance()->execute();
                    ?>

                <!--'end_frame_cache_7DqYyc'-->	</div> <!-- .columns -->
        </div> <!-- .testemotion-items -->&nbsp;
        <div id="bx-composite-banner" class="composite-transparent"></div>
    </div> <!-- .content -->
</div>