<script>
    $(document).ready(function(){
        if($('.blur-overlay').length == 0) {
            $('.body-wrapper').prepend('<div class="blur-overlay"></div>');
        }
    });
</script>
<div class="container container-transparent">
    <div class="content">
        <div class="col col-mb-12 col-8">
            <link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
            <?php
				// Вывод строки навигации
				$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);
				$Structure_Controller_Breadcrumbs
					->xsl(
            Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
            )
            ->show();
            ?>
            <h1><?php Core_Page::instance()->showTitle()?></h1>

        </div> <!-- .col col-mb-12 col-8 -->
        <div class="col col-mb-12 col-4">
            <div class="quick-info-wrapper">
                <div class="clearfix">
                    <div class="fz16 text-red"><b>Отделение</b></div>
                    <div class="clearfix">
                        <div class="fleft">ул. Вокзальная дом 14а</div>
                        <div class="fright">8(84567)5-81-56</div>
                        <div class="fright">8(906)308-65-47</div>
                    </div>
                </div>

            </div>

        </div> <!-- .col col-mb-12 col-4 -->
    </div> <!-- .content -->
    <div class="content" style="position: relative;">
        <div class="testemotion-items">
            <div class="columns" style="position: relative; height: 1223px;">
                <!--'start_frame_cache_mftTGO'--><div class="col col-4 stamp add-item-stamp">
                <div class="add-testemotion-form">
                    <div id="add-testemotion-form" data-fake-form="name=&quot;add_form_ajax&quot; method=&quot;POST&quot; action=&quot;/communication/consultation/index.php&quot;  data-ladda-submit">			<div class="cn-modal">
                        <div class="cn-modal-header">
                            Задать вопрос				</div> <!-- .cn-modal-header -->
                        <div class="cn-modal-content clearfix">
                            <!--<form action="./" method="post">-->

                                    <!--<div class="row">-->
                                        <!--<div class="caption">ФИО</div>-->
                                        <!--<div class="field">-->
                                            <!--<input type="text" name="author" size="50" value=""/>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="row">-->
                                        <!--<div class="caption">E-mail</div>-->
                                        <!--<div class="field">-->
                                            <!--<input type="text" name="email" size="50" value=""/>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="caption">Тема</div>-->
                                    <!--<div class="field">-->
                                        <!--<input type="text" name="subject" size="50" value=""/>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="caption">Вопрос</div>-->
                                    <!--<div class="field">-->
							<!--<textarea type="text" name="text" cols="68" rows="5">-->
							<!--</textarea>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="caption"></div>-->
                                    <!--<div class="field">-->
                                        <!--<input type="submit" name="submit_question" value="Добавить запись" class="button"/>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</form>-->
                            <form action="./" method="post" id="js-form-faq">
                                <div class="clearfix">
                                    <div class="form-label">Email:* </div>
                                    <div class="form-control">
                                        <input type="email" name="email" required="required" value="" class="input input-block-level">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="form-label">Телефон </div>
                                    <div class="form-control">
                                        <input type="text" name="subject" value="" class="input input-block-level">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="form-label">Ваш вопрос:* </div>
                                    <div class="form-control">
                                        <textarea name="text" required="required" class="input input-block-level" placeholder="Напишите вопрос" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix mt10">
                                    <div class="form-label"> &nbsp;
                                    </div>
                                    <div class="form-control">
                                        <input type="submit" name="submit_question" value="Добавить запись" class="btn btn-faq ladda-button" />
                                    </div>

                                </div>
                            </form>


                        </div> <!-- .cn-modal-content -->

                    </div> <!-- .cn-modal -->
                        <input type="hidden" name="custom_form_code" value="add-consultation-static">		</div> <!-- #add-testemotion-form -->
                </div> <!-- .add-testemotion-form -->
            </div> <!-- .col col-4 stamp add-item-stamp -->

                <!--'end_frame_cache_mftTGO'-->		<!--'start_frame_cache_7DqYyc'-->
                <script>
                    jQuery(document).ready(function ($) {
                        // Плитка masonry
                        var msnryBox = $('.box');
                        if (msnryBox.length > 1) {
                            var msnryContainer = document.querySelector('.columns');
                            msnry = new Masonry(msnryContainer, {
                                itemSelector: '.box',
                                stamp: ".stamp"
                            });
                            /* пока пусть так
                                msnryBox.on('click', function (e) {
                                    var $this = $(this);
                                    if ($this.hasClass('col-8')) {
                                        $this.removeClass('col-8 selected').addClass('col-4');
                                    } else {
                                        if (!$this.hasClass('col-12')) {
                                            $this.addClass('col-8 selected').removeClass('col-4');
                                        };
                                    }

                                    $this.siblings('.box.col-8').removeClass('col-8 selected').addClass('col-4');

                                    msnry.layout();
                                });
                            */
                        }

                    });
                </script>

                <div id="msnry-items">
                    <?php
			Core_Page::instance()->execute();
                    ?>

                </div>
                <!--'end_frame_cache_7DqYyc'-->	</div> <!-- .columns -->
        </div> <!-- .testemotion-items -->&nbsp;
        <div id="bx-composite-banner" class="composite-transparent"></div>
    </div> <!-- .content -->
</div>
