<div class="main-content main-content-mtemplate">
	<!--'start_frame_cache_7DqYyc'-->
	<script src="/js/slider.js"></script>
	<div class="owl-carousel-content invisible">
		<?php
		// Новости
		if (Core::moduleIsActive('informationsystem'))
		{
			$Informationsystem_Controller_Show = new Informationsystem_Controller_Show(
				Core_Entity::factory('Informationsystem', 15)
			);
			$Informationsystem_Controller_Show
			->xsl(
				Core_Entity::factory('Xsl')->getByName('СлайдерНаГлавной')
			)
			->groupsMode('none')
			->itemsForbiddenTags(array('text'))
			->itemsProperties(true)
			->group(FALSE)
			->limit(100)
			->show();
		}
		?>
	</div>
</div>