


	<script type="text/javascript" src="http://praktic.net/bitrix/cache/js/s1/praktic2014_transparent/page_3ad6e2c990b4f206f61720a427fae1b1/page_3ad6e2c990b4f206f61720a427fae1b1.js?15132693532217"></script>


<div class="body-wrapper clearfix small-footer">


	<div class="container container-transparent">

		<div class="content">
			<div class="col col-mb-12 col-8">
				<link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
				<?php
				// Вывод строки навигации
				$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);
				$Structure_Controller_Breadcrumbs
					->xsl(
				Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
				)
				->show();
				?>
				<h1><?php Core_Page::instance()->showTitle()?></h1>
			</div> <!-- .col col-mb-12 col-8 -->
			<div class="col col-mb-12 col-4">
				<div class="quick-info-wrapper">
					<div class="clearfix">
						<div class="fz16 text-red"><b>Отделение</b></div>
						<div class="clearfix">
							<div class="fleft">ул. Вокзальная дом 14а</div>
							<div class="fright">8(84567)5-81-56</div>
							<div class="fright">8(906)308-65-47</div>
						</div>
					</div>

				</div> <!-- .quick-info-wrapper clearfix -->
				 <!-- .quick-info-wrapper pink clearfix -->
			</div> <!-- .col col-mb-12 col-4 -->
		</div> <!-- .content -->
		<div class="content" style="position: relative;">
			<div class="gallery-carousel-wrapper">
				<?php
					Core_Page::instance()->execute();
				?>

			</div> <!-- .gallery-carousel-wrapper -->
		</div> <!-- .content -->
	</div> <!-- .container container-transparent -->
</div> <!-- .	 clearfix -->
