.modal{
    background-color:transparent !important;
}
.modal {
    max-width: 1080px !important;
    top:10px !important;
    position: fixed;
}
.modal-dialog {
    width: 100%;
    padding:0px;
}
.modal-open .modal{
    overflow: hidden !important;
}
.modal input {
    width: -moz-calc(100% - 92px);
    width: -webkit-calc(100% - 92px);
    width: calc(100% - 92px);
    font-size: 14px;
}
div.mCSB_inside>.mCSB_container {
    height: 300px;
}
#personal-select {
    display: none;
}
.select-person-select{
    margin-right: -11px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #ec0049;
    color: #fff;
    border-color: #ec0049;
    font-size: 14px;
    font-family: "Round-light", sans-serif;
    line-height: 1.3;
    padding: 13px 20px 15px;
    cursor: pointer;
    display: inline-block;
}
footer {
    position: fixed !important;
}
.cn-modal-success {
    display: block !important;
}
.type-email {
    width: 86.9% !important;
}
.hover-header {
    cursor: pointer;
}
.container-transparent > .content {
    padding: 0 0px 40px 0px;
}
.testimonial-item-text {
    word-break: break-word;
}
.testimonial-footer-like {
    display: none;
}
.form-control {
    width: auto;
    height:auto;
    padding:0px;
    border:none;
}
.btn-faq {
    padding: 5px 18px 5px !important;
    font-size: 14px !important;
    border-radius: 0px !important;
    margin-left: 0px !important;
}
.form-control {
     box-shadow: none !important;
 }
.form-priem {
    background-color: #fff;
    padding: 30px;
}
.form-priem input {
    width: 100% !important;
}
.container {
 padding: 0px !important;
}
.content .content {
    margin: 0px ;
}
.news-item {
    margin-bottom: 70px !important;
}
.btn-price-download-absolute, .btn-price-download-absolute:hover, .btn-price-download-absolute:active {
    width: 246px;
}
.footer-info-title.testimonials-title, .footer-info-title.consultation-title {
    position: relative;
}
.footer-info-title.testimonials-title:after, .footer-info-title.consultation-title:after {
    content: '';
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0px;
    position: absolute;
    background-color: rgba(134, 15, 55, 0.6);
    z-index:99;
}
.footer-info .footer-info-title h4, .footer-info .footer-info-title i {
    z-index: 100;
    position: relative;
}