<div class="absolute" id="contactMap">

</div>
<div class="container map-overlay-container">
				<div class="content">
					<div class="map-overlay">
						<div class="header-overlay">
							<link href="/css/font-awesome.css" type="text/css" rel="stylesheet">
							<?php
				// Вывод строки навигации
				$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);
				$Structure_Controller_Breadcrumbs
					->xsl(
							Core_Entity::factory('Xsl')->getByName('ХлебныеКрошки')
							)
							->show();
							?>
							<h1><?php Core_Page::instance()->showTitle()?></h1>

						</div>

 
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  
<script>
		var groups = [
			{
				name: "",
				preset: "islands#greenStretchyIcon",
				className: 'map-menu-item-wrapper',
				// iconColor: "#1b9998",
				items: [
					{
						id: "01",
						center: [51.710956, 46.768405],
						iconContent: 'улица Вокзальная дом 14а',
						balloonContentBody: '<div class="ml10"><p class="ta-center"><img id="bxid_145097" src="ymap_1.jpg" alt=""  /></p><p class="clearfix"><b>улица Вокзальная дом 14а</b></p> <p>Телефон: 8(84567)5-81-56, 8(906)308-65-47</p><p>Email: widermarx@gmail.com</p></div>',
					},
				],
			},
		];

		ymaps.ready(init);

		function init() {

			// Ñîçäàíèå ýêçåìïëÿðà êàðòû.
			var myMap = new ymaps.Map('contactMap', {
					center: [51.710956, 46.768405],
					zoom: 15,
					controls: ['zoomControl']
				});
				// Êîíòåéíåð äëÿ ìåíþ.

				mapItems = $('.map-items-container');
				for (var i = 0, l = groups.length; i < l; i++) {
					createMapGroup(groups[i]);
			}



			function createMapGroup(group) {
				// Ïóíêò ìåíþ.
				var mapItemsItem = $('<div class="map-items ' + group.className + '"><div class="map-item-block-wrapper quick-info-wrapper borders"><div class="map-item-block"><b class="text-red fz16">' + group.name + '</b></div></div></div>'),
					// Êîëëåêöèÿ äëÿ ãåîîáúåêòîâ ãðóïïû.
					collection = new ymaps.GeoObjectCollection(null, {
						preset: group.preset
					}),
				// Êîíòåéíåð äëÿ ïîäìåíþ.
				mapItemsElements = $('.map-items');
				// Äîáàâëÿåì êîëëåêöèþ íà êàðòó.
				myMap.geoObjects.add(collection);

				// Äîáàâëÿåì ïîäìåíþ.
				mapItems.append(mapItemsItem);
				for (var j = 0, m = group.items.length; j < m; j++) {
					createmapItemsElements(group.items[j], collection, mapItemsElements, mapItemsItem);
				}

			}
			function createmapItemsElements(item, collection, mapItemsElements, mapItemsItem) {
				// Ïóíêò ïîäìåíþ.
				var mapItemsElementsItem = $('<div class="map-overlay-item" data-map-pointer="'+item.id+'">' + item.balloonContentBody + '</div>'),

					// Ñîçäàåì ìåòêó.
					placemark = new ymaps.Placemark(item.center, {
						iconContent: item.iconContent,
						// balloonContentHeader: item.iconContent,
						balloonContentBody: item.balloonContentBody,
					});
					placemark.events
					.add('balloonopen', function (e) {
						var id = item.id,
							$this = $('[data-map-pointer="'+id+'"]');

						$this.addClass('active').siblings().removeClass('active');
					})
					.add('balloonclose', function (e) {
						$('.map-overlay-item').removeClass('active');
					});

				// Äîáàâëÿåì ìåòêó â êîëëåêöèþ.
				collection.add(placemark);
				// Äîáàâëÿåì ïóíêò â ïîäìåíþ.
				mapItemsElementsItem
					.appendTo(mapItemsItem.find('.map-item-block'))
					.on('click', function(event) {

						var $this = $(this);
						if ($this.hasClass('active')) {
							placemark.balloon.close();
							$this.removeClass('active');
						} else {
							placemark.balloon.open();
							$this.addClass('active').siblings().removeClass('active');
						}
					});

			}

			// Âûñòàâëÿåì ìàñøòàá êàðòû ÷òîáû áûëè âèäíû âñå ãðóïïû.
			// myMap.setBounds(myMap.geoObjects.getBounds());
		}
	</script>

<div class="map-items-container"> 
  <!--<h4 class="mt0">Ñàðàòîâ</h4>-->
</div>

<!-- .map-items-container -->
  					</div> <!-- .map-overlay -->
				</div> <!-- .content -->
			</div> <!-- .container map-overlay-container -->